@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #dc2727;
  color: white;
}

body {
  cursor: default;

}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: Mercado;
  src: url("../fonts/ExtendedFont.ttf");
}

.hero-font {
  font-family: "Mercado";
}
