@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #dc2727;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

body {
  cursor: default;
}

@font-face {
  font-family: ExtendedFont;
  src: url("../fonts/ExtendedFont.ttf");
}

@font-face {
  font-family: ManVerse;
  src: url("../fonts/Manverse_Normal.ttf");
}

.hero-font {
  font-family: "ExtendedFont";
}

.preloader-font {
  font-family: "ManVerse";
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  display: none;
}
